@import "../../AppVariables.scss";
@import "../../Mixins.scss";
.player-container {
  // To ensure that the player container spans the whole page
  border-radius: 2rem;
  display: flex;
  height: 50vh;
  width: 50vw;
  overflow: hidden;
  background-color: $color-grey-light-1-low-opacity;
  box-shadow: $shadow-dark;

  &__player1,
  &__player2 {
    width: 25vw;
    height: 100%;
    color: $color-grey-dark-3;
  }
  &__player1 {
    //   background-color: $color-black;
  }
  &__player2 {
    //   background-color: $color-grey-light-1;
  }

  &__background {
    &__prominent {
      background-color: $color-grey-light-1-high-opacity;
    }
    &__transparent {
      background-color: $color-grey-light-1-low-opacity;
    }
  }
}

.player_interaction {
  @include absCenter();
  padding: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
  padding: 10rem;
  &__new_game {
    @include text-center();
    flex-basis: 30%;
  }
  &__dice {
    @include text-center();
    flex-basis: 30%;
  }
  &__turn_buttons {
    @include text-center();
    flex-direction: column;
    flex-basis: 40%;
  }

  &__button {
  }
}
